.status {
  background-color: #a5bdf7;
  max-width: 100%;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #fff;
}
.status_title {
  margin-bottom: 20px;
}
.genre {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
}
